{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sistema de Gestion de Tiempo</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.4.4/babel.min.js"></script>
    <script src="{% static "/jquery.timer.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js"></script>

    <style type="text/css">
         /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            left: 0;
            top: 0;
            width: 100%%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 40%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>

    <script>

        var ore = 0, minuti = 0, secondi = 0, decimi = 0;
        var vis = "";
        var stop = true;

        let puesto = {{puesto}}
        var state;

        function start(value) {
            if(stop == true) {
                stop = false;
                cronometro(value);
            }
        }

        function cronometro(value) {
            if(stop == false) {
                decimi++;
                if(decimi > 9) {
                    decimi = 0;
                    secondi++;
                }
                if(secondi > 59) {
                    secondi = 0;
                    minuti++;
                }
                if(minuti > 59) {
                    minuti = 0;
                    ore++;
                }
                mostra(value);
                setTimeout("cronometro('"+value+"')", 100);
            }
        }
        function mostra(value) {
            if(ore < 10) vis = "0"; else vis = ore;
            if(minuti < 10) vis = vis + "0";
            vis = vis + minuti + ":";
            if(secondi < 10) vis = vis + "0";
            vis = vis + secondi + ":" + decimi;
            document.getElementById("contador-"+value).innerHTML = vis;
        }
        function stop_timmer() {
            stop = true;
        }
        function end(value) {
            if(stop == false) {
                stop = true;
            }
            ore = minuti = secondi = decimi = 0;
            vis = "";
            mostra(value);
        }

		connection()

        var tiempo_pami = 0;
        var tiempo_particular = 0
        var tiempo_obra_social = 0
        var tiempo_perfumeria = 0
        var terminar = true;
        var numero_llamado;
        var numero_atencion_prioritaria = 0;
        var numero_atencion_booleano = false;
        var pinNumber;
        var registerId;
        var status = '';
        var atencion_activa = false;
        var tipo_atencion_activa = '';

        var atenciones = [
            {% for tipo_atencion in tipo_atenciones %}
                '{{tipo_atencion.name}}',
            {% endfor %}
        ]

        var promedios = {
            {% for promedio in promedios_atencion %}
                '{{promedio.attention_type__name|safe}}': {{promedio.duracion_atencion__avg|safe}},
            {% endfor %}
        }

        var configuracion = '-'

		function send(e) {

            if (terminar) {
                // contador(e);
                creaRegistro(e);
                if (status != 'error') {
                    // start(e.value)
                    if (configuracion == 'bueno') {
                        $('#atender_'+e.value).replaceWith('<button type="button" id="atender_terminar_'+e.value+'" onclick="send(this)" value="'+e.value+'" class="btn btn-danger btn-sm">Terminar</button>')
                        terminar = false;
                        atencion_activa = true;
                        tipo_atencion_activa = e.value;
                        blockButtons(e.value)
                    }

                }
            }
            else {
                $('#atender_terminar_'+e.value).replaceWith('<button type="button" id="atender_'+e.value+'" onclick="showPinModal(this)" value="'+e.value+'" class="btn btn-primary btn-sm">LLamar y Atender</button>')
                $('#numero_llamado_'+ e.value).html('Número en atención:<br /><b> - </b>')
                stop_timmer();
                // end(e.value);
                actualizaRegistro()
                terminar = true;
                atencion_activa = true;
                unlockButtons()
            }
        }

        function blockButtons(value) {
            atenciones.forEach(function(tipo) {

                if (value == tipo) {
                    document.getElementById("atencion_"+tipo).disabled = true;
                }
                else {
                    document.getElementById("atencion_"+tipo).disabled = true;
                    document.getElementById("atender_"+tipo).disabled = true;
                }
            });
        }

        function unlockButtons() {
            atenciones.forEach(function(tipo) {
                document.getElementById("atencion_"+tipo).disabled = false;
                document.getElementById("atender_"+tipo).disabled = false;
            });
        }

        function sendVisualizador(attention_number, attention_type) {
            // let text = e.value;

            // if (text == "") {
            //     return
            // }

            let message = {
                type: 'message',
                text: attention_type,
                attention_number: attention_number,
                user: 'visualizador',
                puesto: puesto
            }
            // send message
            this.socket.send(JSON.stringify(message));

        }

		function connection() {
			let username = 'atencion'
            localStorage.username = username;

            let socket = new WebSocket("ws://" + location.host + "/chat/main");
            this.socket = socket;
            socket.onmessage = (e) => {
                var data=JSON.parse(e.data).text.split(',')
                var user=JSON.parse(e.data).user

                onMessage();

        	}
            socket.onopen = () => {
                socket.send(JSON.stringify({
                    type: 'connect',
                    username: username
                }))
            }
		}

        actualizarPromedios()

        function actualizarPromedios() {
            $.get(
                'http://'+ location.host +'/api/promedios/',
                function(data, status){
                    actualizaPromedios(data)
                }
            );
        }

        function actualizarEstados(data) {
            atenciones.forEach(function(tipo) {
                $('#'+tipo+'_numero').html(data[tipo]);
            });
        }

        function actualizaPromedios(data) {
            atenciones.forEach(function(tipo) {
                var promedio_tipo = promedios[tipo].toString().match(/^-?\d+(?:\.\d{0,2})?/)[0]
                $('#promedio-'+tipo).html('Demora Promedio <br />' + promedio_tipo + ' min');
            });
        }

        // var numeros_vacios = Array()
        // atenciones.forEach(function(tipo) {
        //     numeros_vacios.push(0)
        // });
        // var estado_atenciones = new Numeros(numeros_vacios);

        dict_estados = {};

        atenciones.forEach(function(tipo) {
            dict_estados[tipo] = 0;
        });

        // function Numeros() {
        //     // this.obra_social = obra_social;
        //     // this.particular = particular;
        //     // this.pami = pami;
        //     // this.perfumeria = perfumeria;
        //     // atenciones.forEach(function(tipo) {
        //     //     [tipo] = 0
        //     // });
        // }

        onMessage()
        function onMessage() {
            $.get(
                'http://'+ location.host +'/api/consulta_estado/',
                function(data, status){
                    actualizarEstados(data);
                    $.each(data, function(index, value) {
                        dict_estados[index] = value
                    });
                }
            );
        }

        function creaRegistro(e) {
            $.post(
                'http://'+ location.host +'/api/crear_registro/',
                {
                    pin: pinNumber,
                    tipo_atencion: e.value,
                    observaciones: ''
                },
                function(data, status){
                    $('#numero_llamado_'+ data.attention_type).html('Número en atención:<br /><b>'+ data.attention_number +'</b>')
                    sendVisualizador(data.attention_number, data.attention_type);
                    status = status
                    onMessage();

                    registerId = data.id_register

                },

            )
            .fail(function() {
               status = 'error'
               alert(status)
            })
        }

        function actualizaRegistro() {

            $.get(
                'http://'+ location.host +'/api/actualiza_registro/' + registerId,
                function(data, status){
                    onMessage();
                }
            );
        }

        function atencionPrioritaria() {
            $.post(
                'http://'+ location.host +'/api/atencion_prioritaria/',
                {
                    pin: pinNumber,
                    tipo_atencion: state.value,
                    numero_atencion: numero_atencion_prioritaria
                },
                function(data, status) {
                    // start(state.value)
                    // $('#atender_'+state.value).replaceWith('<button type="button" id="atender_terminar_'+state.value+'" onclick="send(this)" value="'+state.value+'" class="btn btn-danger btn-sm">Terminar</button>')
                    terminar = false;
                    // blockButtons(state.value);
                    registerId = data.id_register;
                    onMessage();
                }
            )
            .fail(function() {
               status = 'El número ingresado ya fue atendido'
               alert(status)
            });
        }

        // Modal

        // Get the <span> element that closes the modal
        // var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        var atencion_prioritaria_id = '';
        function showModal(values) {
             // Get the modal
            var modal = document.getElementById('myModal');
            atencion_prioritaria_id = values.value;

            $('#numero_prioritario').focus();

            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        function closePinModal() {
             // Get the modal
            var modal = document.getElementById('pinModal');
            modal.style.display = "none";
        }

        function showPinModal(values) {
            onMessage()
            document.getElementById("pin_number").focus();
            document.getElementById("numero_prioritario").focus();

            if (dict_estados[values.value] > 0) {
                // Get the modal
                var modal = document.getElementById('pinModal');


                // atencion_prioritaria_id = values.value;
                modal.style.display = "block";

                $('#pin_number').focus();
                //guardo el boton que lo llamo con sus valores
                state = values;
            }

        }

        // When the user clicks on <span> (x), close the modal
        function closeModal() {
             // Get the modal
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            var modal = document.getElementById('myModal');
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var isPinGood;
        function checkPin(){

            pin_number = document.getElementById('pin_number').value
            document.getElementById('pin_number').value=''

            fetch('http://'+location.host+'/api/user_pin/'+pin_number+'/ ', {mode: 'cors'})
                .then(function(response) {
                    isPinGood=response.ok
                    pinNumber = pin_number

                    if (state.id.indexOf('atencion') != 0 && isPinGood) {
                        closePinModal();
                    }
                    else if (state.id.indexOf('atencion') >= 0 && isPinGood){
                        closePinModal()
                        showModal(state)
                    }
                    else {
                        $('#pin-alert').html(
                            "<div class='alert alert-warning'>"+
                                "<strong>Pin Incorrecto</strong>"+
                            "</div>"
                        )
                    }
                })
                .then(function(response) {
                    if (state.id.indexOf('atencion') != 0 && isPinGood) {
                        send(state);
                    }
                    else if (state.id.indexOf('atencion') >= 0 && isPinGood){
                        closePinModal()
                        showModal(state)
                    }
                    else {
                        $('#pin-alert').html(
                            "<div class='alert alert-warning'>"+
                                "<strong>Pin Incorrecto</strong>"+
                            "</div>"
                        )
                    }

                })
                .catch(function(error) {
                    console.log('Se ha producido un problema al identificar el pin!')
                });

        }

        function atencion_prioritaria(value) {

            numero_atencion_prioritaria = document.getElementById('numero_prioritario').value;
            // numero_atencion_booleano = true;
            value.value = atencion_prioritaria_id
             // Success Function

            closeModal()
            atencionPrioritaria();

        }

        function valida(e){
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla==8){
                return true;
            }
            if (event.keyCode == 13) {
                $("#aceptar_pin").click();
            }
            // Patron de entrada, en este caso solo acepta numeros
            patron =/[0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }

        function enterFocus(){
            if (event.keyCode == 13) {
                $("#aceptar_atencion").click();
            }
            return
        }

        function handleBrowserCloseButton() {
            return 'Browser close button clicked';
        }

        window.onbeforeunload = function () {
            return "Are you sure";
        };

     </script>

  </head>

  <body onbeforeunload="return handleBrowserCloseButton();">

    <div id="myModal" class="modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closeModal()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atención Prioritaria</h4>
            </div>
            <div class="modal-body">
                <p style="align-content: center;">Ingrese el número del Cliente:</p>
                <input type='number' onKeyPress='enterFocus(event)' id='numero_prioritario' style="align-content: center;" autofocus>
            </div>
            <div class="modal-footer" style="align-content: center;">
                <button type="button" onclick="atencion_prioritaria(this)" id='aceptar_atencion' class="btn btn-default">Aceptar</button>
                <button type="button" onclick="closeModal()" id='cancelar-atencion-prioritaria' class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </div>

    <div id="pinModal" class="modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closePinModal()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ingreso de pin</h4>
            </div>
            <div class="modal-body">
                <div id="pin-alert"></div>
                <p style="align-content: center;">Ingrese su pin personal:</p>
                <input type="password" onKeyPress='return valida(event)' id='pin_number' style="align-content: center;" autofocus>
            </div>
            <div class="modal-footer" style="align-content: center;">
                <button type="button" onclick="checkPin(this)" id='aceptar_pin' class="btn btn-default">Aceptar</button>
                <button type="button" onclick="closePinModal()" id='cancelar-atencion-prioritaria' class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href={% url 'logout' %}>Cerrar Sesion</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Sistema de Gestión de Espera</h3>
      </div>

      <div>
        <h4>Sistema de Atención al Cliente</h4>
      	<form action="{% url 'home' %}" method="post">
      	<div class="row" align="center">
	        <div class="col-lg-2 col-md-2" style="border: black light solid; box-shadow: 5px 5px 3px #DADEDD; border-radius: 10px; background-color: #E3F6CE; margin-right: 30px">
				<div>
					<h3>Puesto:</h3>
                    <h2 align="center">{{puesto}}</h2>

				</div>
	        </div>
            {% for tipo_atencion in tipo_atenciones %}
    	        <div class="col-lg-2 col-md-2 text-center" style="border: #cdcdcd medium solid; background-color: #cdcdcd;" >
    	        	<div>
    	        		<label for="name">{{ tipo_atencion.label }}</label>
    	        	</div>

    	        	<div style="border: #cdcdcd medium solid; margin-top: 2px; border-radius: 15px; background-color: white" class='text-center'>
    	        		<label for="name"><h3><div id="{{ tipo_atencion.name }}_numero">{{particular_quantity}}</div></h3></label>
    	        	</div>

                    <div id='promedio-{{ tipo_atencion.name }}' style="border: #cdcdcd medium solid; border-radius: 10px; background-color: #1AC9A0">
                        Demora Promedio {{promedio_particular}}min
                    </div>
    	        	<div id='numero_llamado_{{ tipo_atencion.name }}' style="border: #cdcdcd medium solid; border-radius: 10px; background-color: #1AC9A0">Número en atención:<br /><b>0</b>
                    </div>
                    <!-- <div id='contador-{{ tipo_atencion.name }}' style="border: #cdcdcd medium solid; border-radius: 10px; background-color: #1AC9A0"> 0
    	        	</div> -->

    	        	<div class="btn-group-vertical text-center" role="group" style="margin-top: 10px; margin-bottom: 20px;">
                        <button type="button" onclick="showPinModal(this)" id='atender_{{ tipo_atencion.name }}' value='{{ tipo_atencion.name }}' class="btn btn-primary btn-sm">LLamar y Atender</button>
    	        		<!-- <button type="button" onclick="send(this)" id='atender_particular' value='particular' class="btn btn-success btn-sm">Atender</button> -->
    	        		<button type="button" onclick="showPinModal(this)" id="atencion_{{ tipo_atencion.name }}" value="{{ tipo_atencion.name }}" class="btn btn-warning btn-sm">Atencion Prioritaria</button>
    	        	</div>
    	        </div>
            {% endfor %}
	    </div>


      </form>


<!--       <footer class="footer">
        <p>&copy; Hecho por Pablo Ovejero en asosiación con Mario Reale</p>
      </footer> -->

    </div> <!-- /container -->


  </body>
</html>
{% endblock %}
