{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <link rel="stylesheet" href="{% static "/jquery-ui.css" %}">
    <script src="{% static "/jquery-1.12.4.js" %}"></script>
    <script src="{% static "/jquery-ui.js" %}"></script>
    <script type="text/javascript">
        dict = {}; // used to get the values of the page


        function prueba() {
            $.ajax({
                  type: "GET",
                  url: 'http://'+location.host+'/api/snippets/',
                  data: data,
                  success: console.log('hola'),
                  dataType: console.log('nada')
            });
        }

        $(function() {
            $("#datepicker").datepicker();
            $("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
        } );

        function getRegisters(data) {
            var val = '<h3>Resultado de Busqueda:</h3>\
                    <table class="table" id="result-table">\
                        <thead>\
                            <tr>\
                                <th>#</th>\
                                <th>Hora Comienzo Alerta</th>\
                                <th>Hora Finalizacion Alerta</th>\
                                <th>Estado</th>\
                            </tr>\
                        </thead>\
                      <tbody>\
                      </tbody>\
                    </table>';

            $('#tabla').html(val)

            $.post(
                'http://'+ location.host +'/api/alertas/',
                data,
                function(data, status){
                    var finish_alert_date;
                    $.each(data, function (i, item) {
                        if (!!item.finish_alert) {
                            finish_alert_date = new Date(item.finish_alert).toLocaleString()
                        }
                        else {
                            finish_alert_date = '-'
                        }
                        $('#result-table tr:last').after('<tr><th scope="row">'+item.id_alerta+'</th><td>'+new Date(item.starting_alert).toLocaleString()+'</td><td>'+finish_alert_date+'</td><td>'+item.observations+'</td></tr>');
                    });

                }
            );
        }

        function buscar() {
            if ($('#datepicker').val() != "") {
                dict['datepicker'] = $('#datepicker').val()
            }
            getRegisters(dict);
        }

    </script>

    <style type="text/css">
        .table{
            font-size: 13px;
        }
        #filter button{
          margin-bottom: 10px;
        }
        #filter th{
          padding-bottom: 10px;
        }
    </style>

</head>
<body style='background: #546973;'>
    <div class="container" style="background: white; border-radius: 10px; width: 500px; margin-top: 50px">
        <h3>Seleccione los filtros de Busqueda:</h3>
        <table id='filter'>
            <thead>
                <tr>
                    <th>Seleccione una Fecha <input type="text" id="datepicker"></th>
                </tr>
                <tr>
                    <th><button type="button" style="margin-top: 20px" onClick='buscar()' class="btn btn-primary btn-lg btn-block">Buscar</button></th>
                </tr>
            </thead>
        </table>
    </div>
    <br />
    <div class='container' id='tabla' style='background: white'>
    </div>

</body>



{% endblock %}