{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        dict = {}; // used to get the values of the page


        function prueba() {
            $.ajax({
                  type: "GET",
                  url: 'http://'+location.host+'/api/snippets/',
                  data: data,
                  success: console.log('hola'),
                  dataType: console.log('nada')
            });
        }

        $(function() {
            $("#datepicker").datepicker();
            $("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
        } );

        function getRegisters(data) {

            $.post(
                'http://'+ location.host +'/api/registros/',
                data,
                function(data, status){
                    var val = '<h3>Resultado de Busqueda:</h3>\
                    <table class="table" id="result-table">\
                        <thead>\
                            <tr>\
                                <th>#</th>\
                                <th>Hora Creación Turno</th>\
                                <th>Hora Comienzo Atención</th>\
                                <th>Hora Finalizacion Atencion</th>\
                                <th>Hora Finalizacion Dispensación</th>\
                                <th>Tiempo de Espera</th>\
                                <th>Duración Atención</th>\
                                <th>Duración Total</th>\
                            </tr>\
                        </thead>\
                      <tbody>\
                      </tbody>\
                    </table>'

                    $('#tabla').html(val)

                    $.each(data, function (i, item) {
                        $('#result-table tr:last').after('<tr><th scope="row">'+item.id_register+'</th><td>'+new Date(item.created).toLocaleString()+'</td><td>'+new Date(item.start_attention).toLocaleString()+'</td><td>'+new Date(item.finish_attention).toLocaleString()+'</td><td>'+item.finish_total_attention+'</td><td>'+item.tiempo_espera+'</td><td>'+item.duracion_atencion+'</td><td>'+item.duracion+'</td></tr>');
                    });

                }
            );
        }

        getFields();
        function getFields() {
            $.get(
                'http://'+ location.host +'/api/usuarios/',
                function(data, status){
                    $.each(data, function (i, item) {
                        $('#pin').append($('<option>', {
                            value: item.id_persona,
                            text : item.last_name+', '+item.first_name
                        }));
                    });
                }
            );

            $.get(
                'http://'+ location.host +'/api/atenciones/',
                function(data, status){
                    $.each(data, function (i, item) {
                        $('#tipo_atencion').append($('<option>', {
                            value: item.id_attention_type,
                            text : item.label
                        }));
                    });

                }
            );
        }

        function buscar() {
            if ($('#pin').val() != "") {
                dict['pin'] = $('#pin').val()
            }
            if ($('#datepicker').val() != "") {
                dict['datepicker'] = $('#datepicker').val()
            }
            if ($('#tipo_atencion').val() != "") {
                dict['tipo_atencion'] = $('#tipo_atencion').val()
            }
            if ($('#atencion_prioritaria').is(':checked')) {
                dict['atencion_prioritaria'] = true
            }
            else {
                dict['atencion_prioritaria'] = false
            }
            if ($('#duracion').val() != "") {
                dict['duracion'] = $('#duracion').val()
            }
            if ($('#observaciones').is(':checked')) {
                dict['observaciones'] = true
            }
            else {
                dict['observaciones'] = false
            }
            getRegisters(dict);
        }

    </script>

    <style type="text/css">
        .table{
            font-size: 13px;
        }
        #filter button{
          margin-bottom: 10px;
        }
        #filter th{
          padding-bottom: 10px;
        }
    </style>

</head>
<body style='background: #546973;'>
    <div class="container" style="background: white; border-radius: 10px; width: 500px; margin-top: 50px">
        <h3>Seleccione los filtros de Busqueda:</h3>
        <table id='filter'>
            <thead>
                <tr>
                    <th>Seleccione una Fecha <input type="text" id="datepicker"></th>
                </tr>
                <tr>
                    <th>Usuario <select id='pin' name="usuario"></select></th>
                </tr>
                <tr>
                    <th>Tipo de Atención <select id='tipo_atencion' name="tipo_atencion"></select></th>
                </tr>
                <tr>
                    <th>Atención Prioritaria <input type="checkbox" id='atencion_prioritaria' name="atencion_prioritaria"></th>
                </tr>
                <tr>
                    <th>Duración <input type="number" id='duracion' name="duracion"> en minutos</th>
                </tr>
                <tr>
                    <th>Posibles no Atenciones <input type="checkbox"  id='observaciones' name="posible_no_atencion"></th>
                </tr>
                <tr>
                    <th><button type="button" style="margin-top: 20px" onClick='buscar()' class="btn btn-primary btn-lg btn-block">Buscar</button></th>
                </tr>
            </thead>
        </table>
    </div>
    <br />
    <div class='container' style='background: white' id='tabla'>
    </div>

</body>



{% endblock %}