{% extends 'base.html' %}
{% block content %}

    <form method="post" action="{% url 'data' %}">
 
        {% csrf_token %}
 
        <table>
            <tr>
                <td>Algo</td>
                <td><input type="radio" name='turno' value="obra_social"/>Farmacia</td>
                <td><input type="radio" name='turno' value="farmacia"/>Obra Social</td>
                <td><input type="radio" name='turno' value="pami"/>PAMI</td>
                <td><input type="radio" name='turno' value="particular"/>Particular</td>
            </tr>
 
        </table>
 
        <input type="submit" value="totem"/>
    </form>
 
{% endblock %}